<ul>
    <li>
        <a class="menuItem activeMenu" href="/home">
            <span class="menuText"> HOME </span>
            <img class="activeDot" src="assets/images-new/single-dot-dark.svg">
        </a>
    </li>
    
    <li>
        <a class="menuItem" href="">
            <span class="menuText"> ABOUT US </span>
            <img src="assets/images-new/arrow-dark.svg">
        </a>
    </li>
    
    <li>
        <a class="menuItem" href="">
            <span class="menuText"> PROJECTS </span>
            <img src="assets/images-new/arrow-dark.svg">
        </a>
    </li>
    
    <li>
        <a class="menuItem" href="">
            <span class="menuText"> CONTACT </span>
            <img src="assets/images-new/arrow-dark.svg">
        </a>
    </li>
</ul>