<div class="site-navbar">
    <div class="container">
        <nav class="navbar">
            <div class="site-logo">
                <a href="/">
                    <img src="assets/images-new/site-logo.svg" alt="makeAr Logo">
                </a>
            </div>

            <div class="headline">
                <p>
                    We build epic realtime interactive experience to blow people’s minds
                </p>
            </div>

            <div class="btns">
                <a href="mailto:contact@makear.ai" class="btn mailBtn">
                    <span class="arrow-icon"> <img src="assets/images-new/arrow-icon.svg"> </span>
                    <span class="btnText"> LET'S TALK</span>
                    <span class="single-dot"><img src="assets/images-new/single-dot-light.svg"></span>
                </a>

                <button class="btn menuBtn">
                    <span id="menuBtn-menu" class="menu ">MENU</span>
                    <span id="menuBtn-close" class="close move-down">CLOSE</span>

                    <span id="menuBtn-doubleDot" class="double-dot"><img id="menuBtn-img"
                            src="assets/images-new/double-dot-icon.svg"></span>
                </button>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <a class="menuItem activeMenu" href="">
                        <span class="menuText"> HOME </span>
                        <img class="activeDot" src="assets/images-new/single-dot-dark.svg">
                    </a>

                    <a class="menuItem" href="">
                        <span class="menuText"> ABOUT US </span>
                        <img src="assets/images-new/arrow-dark.svg">
                    </a>

                    <a class="menuItem" href="">
                        <span class="menuText"> PROJECTS </span>
                        <img src="assets/images-new/arrow-dark.svg"> </a>

                    <a class="menuItem" href="">
                        <span class="menuText"> CONTACT </span>
                        <img src="assets/images-new/arrow-dark.svg"> </a>
                </div>
            </div>
        </nav>


    </div>
</div>