@media screen and (max-width: 812px) {
  .container {
    padding: 15px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .headline {
    margin: 15px 0;
    max-width: 600px;
  }

  .headline p {
    font-size: 2rem;
  }

  .btns {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .mailBtn {
    display: none;
  }

  .menuBtn {
    width: fit-content;
    margin: 5px;
    padding: 15px 17px;
    z-index: 2;
  }

  .menuBtn .double-dot {
    margin: 0;
    padding: 0;
  }

  .menuBtn span:nth-child(1),
  .menuBtn span:nth-child(2) {
    display: none;
  }

  .overlay-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -65px;
    left: -18.5px;
    background-color: transparent;
    /* overflow: hidden; */
  }

  .overlay {
    /* transform: scale(0.5); */
    /* background-color: var(--bg-color); */
    width: 240px;
    margin: 0;
    /* padding: 0; */
    position: absolute;
    top: 140px;
    right: 40px;
    border-radius: 12px;
  }

  .overlay a {
    margin: 2px auto;
  }
}
