@font-face {
  font-family: "AeonikTRIAL-Regular";
  src: url("../assets/fonts/AeonikTRIAL-Regular.otf");
}
@font-face {
  font-family: "AeonikTRIAL-Bold";
  src: url("../assets/fonts/AeonikTRIAL-Bold.otf");
}
@font-face {
  font-family: "AeonikTRIAL-Light";
  src: url("../assets/fonts/AeonikTRIAL-Light.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AeonikTRIAL-Regular";
  transition: transform 0.3s ease;
}

:root {
  --bg-color: #d6d6d6;
  --primary-color: #0016ec;
}

body {
  background-color: var(--bg-color);
  -webkit-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

/* ! Navbar Start  */

/* .container {
  position: relative;
  width: 100vw;
  padding: 10px;
  margin: 50px auto;
  /* overflow: hidden; 
} */

.navbar {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.site-logo a svg {
  position: relative;
  z-index: 2;
}

.headline {
  max-width: 16.5rem;
}

.headline p {
  font-size: 1.5rem;
  color: #090909;
}
.btns {
  /* scale: .5; */
  /* opacity: 0; */
}
.button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 3.4rem;
  margin: 8px;
  cursor: pointer;
  font-family: "AeonikTRIAL-Bold";
  color: #2b2e3a;
  position: relative;
  overflow: hidden;
}

.mailBtn {
  background-color: #2b2e3a;
  color: white;
  padding: 15px 30px;
  text-decoration: none;

  transition: background-color 0.3s ease;
}

.arrow-icon img {
  transform: translateX(-50px);
  transition: transform 0.3s ease;
  visibility: hidden;
}

.mailBtn:hover {
  background-color: var(--primary-color);
}

.btnText {
  font-family: "AeonikTRIAL-Bold";
}

.mailBtn .btnText {
  display: inline-block;
  transition: transform 0.3s ease;
}

.mailBtn:hover .btnText {
  transform: translateX(20px);
}

.mailBtn:hover .single-dot {
  visibility: hidden;
}

.mailBtn:hover .arrow-icon img {
  transform: translateX(0px);
  visibility: visible;
}

.single-dot {
  position: relative;
  top: -2px;
  margin-left: 12px;
}

.double-dot {
  position: relative;
  top: -2px;
  margin-left: 65px;
}

.openMenu {
  transform: rotate(-90deg);
  position: relative;
  top: -2px;
}

/* .menuBtn {
  width: 150px;
} */

/* .menuBtn .btnText {
  display: inline-block;
  position: relative;
} */

.menuBtn {
  position: relative;
  width: 130px;
}

.menuBtn .menu {
  font-family: "AeonikTRIAL-Bold";
  position: absolute;
  top: 15px;
  left: 33px;
  /* transform: translateY(40px); */
}

.menuBtn .close {
  font-family: "AeonikTRIAL-Bold";
  position: absolute;
  top: 15px;
  left: 30px;
  /* transform: translateY(-40px); */
}

.move-up {
  transform: translateY(-40px);
}

.move-down {
  transform: translateY(40px);
}

/* ! OVERLAY */

.overlay-container {
  width: 240px;
  position: absolute;
  top: 90px;
  right: 10px;
  /* overflow: hidden; */
  /* background-color: red !important; */
}

.overlay {
  /* width: 240px;
  position: absolute;
  top: 90px;
  left: 10px; */

  padding: 16px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%) rotate(8deg);
  transition: opacity 0.5s ease, visibility 0.5s, transform 0.5s;

  background-color: white;
  color: black;
}

.overlay a {
  width: 90%;

  margin: 2px auto;
  padding: 15px 25px;
  font-size: 1rem;
  color: black;
  border-radius: 40px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.overlay a img {
  position: absolute;
  right: 20px;
}

.overlay a:hover {
  background-color: #e5e7fd;
}

.mobile-contact-btn {
  display: none;
}

.activeMenu {
  pointer-events: none;
}

.activeDot {
  top: 22px;
  right: 25px !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.overlay .menuText {
  display: inline-block;
  position: relative;
}

.overlay a img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s;
}
.overlay a:hover img {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s;
}

/* .overlay a:hover .menuText {
  transition: animation 0.3s ease;
  -webkit-animation: move-up 0.5s ease forwards;
  animation: move-up 0.5s ease forwards;
} */

.moveUpAnimation {
  transition: animation 0.3s cubic-bezier(0.35, 0, 0, 1);
  -webkit-animation: move-up 0.25s cubic-bezier(0.35, 0, 0, 1);
  animation: move-up 0.25s cubic-bezier(0.35, 0, 0, 1);
}

.reverseMoveUpAnimation {
  transition: animation 0.3s cubic-bezier(0.35, 0, 0, 1);
  -webkit-animation: reverse-move-up 0.25s cubic-bezier(0.35, 0, 0, 1);
  animation: reverse-move-up 0.25s cubic-bezier(0.35, 0, 0, 1);
}

@-webkit-keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0;
  }
  51% {
    transform: translateY(30px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0;
  }
  51% {
    transform: translateY(30px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes reverse-move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    transform: translateY(30px);
    opacity: 0;
  }
  51% {
    transform: translateY(-30px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes reverse-move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    transform: translateY(30px);
    opacity: 0;
  }
  51% {
    transform: translateY(-30px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
