@font-face {
  font-family: "AeonikTRIAL-Regular";
  src: url("../assets/fonts/AeonikTRIAL-Regular.otf");
}

@font-face {
  font-family: "AeonikTRIAL-Bold";
  src: url("../assets/fonts/AeonikTRIAL-Bold.otf");
}

@font-face {
  font-family: "AeonikTRIAL-Light";
  src: url("../assets/fonts/AeonikTRIAL-Light.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AeonikTRIAL-Regular";
  transition: transform 0.3s ease;
}

:root {
  --bg-color: #d6d6d6;
  --primary-color: #0016ec;
}

body {
  background-color: var(--bg-color);
  -webkit-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

/* ! Navbar Start  */

/* .container {
  position: relative;
  width: 100vw;
  padding: 10px;
  margin: 50px auto;
  /* overflow: hidden; 
} */
.mobile-menu {
  display: none;
}

.navbar {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.site-logo a svg {
  position: relative;
  z-index: 2;
}

.headline {
  max-width: 16.5rem;
}

.headline p {
  font-size: 1.5rem;
  color: #090909;
}

/* .btns {
   scale: .5;
   opacity: 0; 
} */

.site-btn {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 3.4rem;
  margin: 8px;
  cursor: pointer;
  font-family: "AeonikTRIAL-Bold";
  color: #2b2e3a;
  position: relative;
  overflow: hidden;
}

.mailBtn {
  background-color: #2b2e3a;
  color: white;
  padding: 15px 30px;
  text-decoration: none;

  transition: background-color 0.3s ease;
}

.arrow-icon img {
  transform: translateX(-50px);
  transition: transform 0.3s ease;
  visibility: hidden;
}

.mailBtn:hover {
  background-color: var(--primary-color);
}

.btnText {
  font-family: "AeonikTRIAL-Bold";
}

.mailBtn .btnText {
  display: inline-block;
  transition: transform 0.3s ease;
}

.mailBtn:hover .btnText {
  transform: translateX(20px);
}

.mailBtn:hover .single-dot {
  visibility: hidden;
}

.mailBtn:hover .arrow-icon img {
  transform: translateX(0px);
  visibility: visible;
}

.single-dot {
  position: relative;
  top: -2px;
  margin-left: 12px;
}

.double-dot {
  position: relative;
  top: -2px;
  margin-left: 65px;
}

.openMenu {
  transform: rotate(-90deg);
  position: relative;
  top: -2px;
}

/* .menuBtn {
  width: 150px;
} */

/* .menuBtn .btnText {
  display: inline-block;
  position: relative;
} */

.menuBtn {
  position: relative;
  width: 130px;
}

.menuBtn .menu {
  font-family: "AeonikTRIAL-Bold";
  position: absolute;
  top: 15px;
  left: 33px;
  /* transform: translateY(40px); */
}

.menuBtn .close {
  font-family: "AeonikTRIAL-Bold";
  position: absolute;
  top: 15px;
  left: 30px;
  /* transform: translateY(-40px); */
}

.move-up {
  transform: translateY(-40px);
}

.move-down {
  transform: translateY(40px);
}

ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul li,
.menu-overlay-window ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ! OVERLAY */

.overlay-container {
  width: 240px;
  position: absolute;
  top: 75px;
  right: 10px;
  /* overflow: hidden; */
  /* background-color: red !important; */
}

.overlay {
  /* width: 240px;
  position: absolute;
  top: 90px;
  left: 10px; */

  padding: 16px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%) rotate(8deg);
  transition: opacity 0.5s ease, visibility 0.5s, transform 0.5s;

  background-color: white;
  color: black;
}

.overlay a,
.menu-overlay-window ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 25px;
  font-size: 1rem;
  color: black;
  border-radius: 40px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.overlay a img {
  /* position: absolute; */
  right: 20px;
}

.overlay a:hover {
  background-color: #e5e7fd;
}

.mobile-contact-btn {
  display: none;
}

.activeMenu {
  pointer-events: none;
}

.activeDot {
  top: 22px;
  right: 25px !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.overlay .menuText {
  display: inline-block;
  position: relative;
}

.overlay a img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s;
}

.overlay a:hover img {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s;
}

/* .overlay a:hover .menuText {
  transition: animation 0.3s ease;
  -webkit-animation: move-up 0.5s ease forwards;
  animation: move-up 0.5s ease forwards;
} */

.moveUpAnimation {
  transition: animation 0.3s cubic-bezier(0.35, 0, 0, 1);
  -webkit-animation: move-up 0.25s cubic-bezier(0.35, 0, 0, 1);
  animation: move-up 0.25s cubic-bezier(0.35, 0, 0, 1);
}

.reverseMoveUpAnimation {
  transition: animation 0.3s cubic-bezier(0.35, 0, 0, 1);
  -webkit-animation: reverse-move-up 0.25s cubic-bezier(0.35, 0, 0, 1);
  animation: reverse-move-up 0.25s cubic-bezier(0.35, 0, 0, 1);
}

@-webkit-keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    transform: translateY(-30px);
    opacity: 0;
  }

  51% {
    transform: translateY(30px);
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    transform: translateY(-30px);
    opacity: 0;
  }

  51% {
    transform: translateY(30px);
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes reverse-move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    transform: translateY(30px);
    opacity: 0;
  }

  51% {
    transform: translateY(-30px);
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes reverse-move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    transform: translateY(30px);
    opacity: 0;
  }

  51% {
    transform: translateY(-30px);
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*! Top-Ribbon Start */

.about {
  position: relative;
}

#top-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}

#top-ribbon path {
  position: absolute;
  top: 0;
  right: 0;
}

.about-title h1 {
  font-size: 10vw;
  color: black;
}

.about-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.about-desc p {
  display: block;
  width: 50%;
  font-size: clamp(1rem, 1.5vw, 3rem);
}

.aboutBtnContainer {
  width: 50%;
  position: relative;
  margin: 20px 0;
}

#about-btn button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 3.4rem;

  cursor: pointer;
  font-family: "AeonikTRIAL-Bold";
  color: #2b2e3a;
  position: relative;
  overflow: hidden;
}

.about-video-thumb {
  width: 40%;
  position: relative;
  /* top: -120px; */
  transition: width 1s, top 1s;
}

#video-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.about-video-thumb video {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.colored-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--primary-color);
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s, opacity 1.5s;
  z-index: 5;
  border-radius: 8px;
}
.visible {
  visibility: visible;
  opacity: 0.5;
}

.about-video-complete {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.about-video-complete video {
  width: 80%;
  margin: auto;
  border-radius: 8px;
}

.desc {
  /* height: 8000px; */
}

.video-svg-wrapper {
  width: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  visibility: hidden;
}

/* .video-svg-wrapper svg {
} */

/* ! Featured Projects */

.featured-projects {
  margin-top: 60px;
}

.featured-projects .heading {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
}

.featured-projects .heading p {
  width: 223px;
  font-size: 0.9vw;

  text-transform: uppercase;
}

.featured-projects .heading h2 {
  font-size: 8vw;
}

.featured-projects-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  width: 45%;
  margin: 20px 0;
  border-radius: 12px;
}

.project img {
  width: 100%;
}

.project .project-tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
  margin-bottom: 0.3rem;
}

.project .project-tags span {
  font-size: 0.9vw;
  text-transform: uppercase;
}

.project .project-tags span::after {
  content: url("/assets/images-new/single-dot-dark.svg");
  margin: 0 10px;
  display: inline-block;
  width: 3px;
  position: relative;
  top: 0px;
}

.project .project-tags span:last-child::after {
  content: none;
}

.project-title {
  margin: 0;
  font-size: 3vw;
  text-transform: capitalize;
}

/*! Mission */

.mission {
  min-height: 100vh;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission p {
  font-size: 8vw;
  text-transform: capitalize;
  line-height: 1;
}

/*! Mission */

.vision .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vision .img,
.vision .vision-desc {
  width: 50%;
}

.vision img {
  width: 100%;
}

.vision .vision-desc p {
  width: 70%;
}

.vision .vision-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vision .vision-desc p {
  font-size: 1.5em;
}

/*! Collaborate */

.collaborate {
  margin: 100px;
}

.svgWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.collaborate-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.collaborate-text-container .subtitle {
  line-height: 1.4;
  font-size: 1em;
  text-transform: uppercase;
}

.collaborate-text-container .title {
  /* font-size: clamp(0.875rem, 1vw, 2rem); */
  font-size: 128px;
  line-height: 145.92px;
  width: 600px;
}

/* ! Footer */

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.footer-top .footer-top-contact {
  width: 60%;
}

.footer-top .footer-top-newsLetter {
  width: 40%;
}
.footer-top-contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-top-contact > * {
  width: 50%;
}

.footer-top-contact .addressContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: max-content;
}

.social-links > * {
  margin-bottom: 50px;
}

.social-links .link {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.social-links svg {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);

  display: inline-block;
  transition: 0.4s transform cubic-bezier(0.35, 0, 0, 1);
  opacity: 0;
  visibility: hidden;
}

.social-links a {
  text-decoration: none;
  color: black;
  height: 100%;
  position: relative;
  display: inline-block;

  transition: 0.4s transform cubic-bezier(0.35, 0, 0, 1);
}

.social-links .link:hover svg {
  transform: translateX(20px) translateY(-50%) rotate(-45deg);
  opacity: 1;
  visibility: visible;
}

.social-links .link:hover a {
  transform: translateX(30px);
}

.social-links .email {
  position: relative;
  height: 100%;
}
.social-links .email::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  height: 1px;
  transition: 0.3s ease;
}

.social-links .email:hover::after {
  transform: scaleX(1);
}

.social-links .social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-top-newsLetter h2 {
  font-size: 3.375em;
  width: 70%;
}

.footer-top-newsLetter form {
  position: relative;
  width: 100%;
}

.footer-top-newsLetter input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1.25rem;
  padding-right: 0;
  margin-top: 20px;
  font-size: 1.25em;
  line-height: 1.15;
  border-radius: 12px;
  background-color: #e2e2e2;
}

.footer-top-newsLetter button {
  position: absolute;
  right: 15px;
  top: 60%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.footer-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}
