<%- include('includes/header-new.ejs') %>
    <%- include('includes/navbar-new.ejs') %>




        <section class="hero-section">
            <div class="container">
                <canvas id="canvas"></canvas>
            </div>
        </section>

        <section class="about">

            <svg id="top-ribbon" width="1440" height="727" viewBox="0 0 1440 727" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M-40 13C72.1667 25.1667 305.5 110.8 341.5 356C386.5 662.5 159.5 757.5 82 662C27.3661 594.677 98.1173 502.733 159.5 453C228 397.5 700 155 1020 426C1120.5 511.111 1183 600.5 1267 575.5C1351 550.5 1412.5 565.5 1461 714.5"
                    stroke="url(#paint0_linear_413_65)" stroke-width="25" stroke-linecap="round" />
                <defs>
                    <linearGradient id="paint0_linear_413_65" x1="597.5" y1="137" x2="751.5" y2="339.5"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#E11B4C" />
                        <stop offset="1" stop-color="#FF396A" />
                    </linearGradient>
                </defs>
            </svg>


            <div class="container desc">
                <div class="about-title">
                    <h1>Beyond Visions</h1>
                    <h1>Within Reach</h1>
                </div>

                <div class="about-desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat wow.
                    </p>

                    <div class="aboutBtnContainer">
                        <a href="" id="about-btn">
                            <button>
                                <span>About Us</span>
                            </button>
                        </a>
                    </div>
                </div>

                <div class="about-video-thumb">
                    <!-- <canvas id="videoAnimationCanvas"></canvas> -->
                    <div id="video-container">

                        <div class="video-svg-wrapper">
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>


                        </div>

                        <video autoplay muted loop id="background-video">
                            <source src="assets/videos/in-progress-video.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>

                        <div class="video-svg-wrapper">
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>
                            <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                    fill="black" />
                            </svg>


                        </div>


                    </div>
                    <div class="colored-layer"></div>
                </div>

                <!-- <div class="about-video-complete">
                    <video autoplay muted loop id="background-video">
                        <source src="assets/videos/in-progress-video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div> -->
            </div>
        </section>




<%- include('includes/footer-new.ejs') %>