<%- include('includes/header-new.ejs') %>
    <%- include('includes/navbar-new.ejs') %>

        <section class="hero-section">
            <div class="container">
                <canvas id="canvas">
                    
                </canvas>
            </div>
        </section>

        <%- include('includes/footer-new.ejs') %>