<%- include('includes/header-new.ejs') %>
    <%- include('includes/navbar-new.ejs') %>




        <section class="hero-section">
            <div class="container">
                <canvas id="canvas"></canvas>
            </div>
        </section>

        <section class="about">

            <svg id="top-ribbon" viewBox="0 0 1440 727" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M-40 13C72.1667 25.1667 305.5 110.8 341.5 356C386.5 662.5 159.5 757.5 82 662C27.3661 594.677 98.1173 502.733 159.5 453C228 397.5 700 155 1020 426C1120.5 511.111 1183 600.5 1267 575.5C1351 550.5 1412.5 565.5 1461 714.5"
                    stroke="url(#paint0_linear_413_65)" stroke-width="25" stroke-linecap="round" />
                <defs>
                    <linearGradient id="paint0_linear_413_65" x1="597.5" y1="137" x2="751.5" y2="339.5"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#E11B4C" />
                        <stop offset="1" stop-color="#FF396A" />
                    </linearGradient>
                </defs>
            </svg>


            <div class="container desc">
                <div class="about-title">
                    <h1>Beyond Visions</h1>
                    <h1>Within Reach</h1>
                </div>

                <div class="about-desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat wow.
                    </p>

                    <div class="aboutBtnContainer">
                        <a href="" id="about-btn">
                            <button>
                                <span>About Us</span>
                            </button>
                        </a>
                    </div>
                </div>

                <div class="about-video-thumb">
                    <div class="video-svg-wrapper">
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>


                    </div>


                    <div id="video-container">
                        <video autoplay muted loop id="background-video">
                            <source src="assets/videos/in-progress-video.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <div class="colored-layer"></div>
                    </div>

                    <div class="video-svg-wrapper">
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>
                        <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                                fill="black" />
                        </svg>


                    </div>
                </div>

                <!-- <div class="about-video-complete">
                    <video autoplay muted loop id="background-video">
                        <source src="assets/videos/in-progress-video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div> -->
            </div>
        </section>

        <section class="featured-projects">

            <div class="container">
                <div class="heading">
                    <h2>Featured Work </h2>
                    <p>
                        a selection of our most passionately crafted works with forward-thinking clients and friends
                        over
                        the years.
                    </p>
                </div>

                <div class="featured-projects-container">
                    <!-- <div class="project">
                        <img src="/assets/images-new/dhobi-run.png" alt="">
                        <div class="project-tags">
                            <span>CONCEPTS</span>
                            <span>3D ILLUSTRATION</span>
                            <span>VIDEO</span>
                        </div>
                        <div class="project-title">
                            Dhobi Run
                        </div>
                    </div>

                    <div class="project">
                        <img src="/assets/images-new/dhobi-run.png" alt="">
                        <div class="project-tags">
                            <span>CONCEPTS</span>
                            <span>3D ILLUSTRATION</span>
                            <span>VIDEO</span>
                        </div>
                        <div class="project-title">
                            Dhobi Run
                        </div>
                    </div>

                    <div class="project">
                        <img src="/assets/images-new/dhobi-run.png" alt="">
                        <div class="project-tags">
                            <span>CONCEPTS</span>
                            <span>3D ILLUSTRATION</span>
                            <span>VIDEO</span>
                        </div>
                        <div class="project-title">
                            Dhobi Run
                        </div>
                    </div>

                    <div class="project">
                        <img src="/assets/images-new/dhobi-run.png" alt="">
                        <div class="project-tags">
                            <span>CONCEPTS</span>
                            <span>3D ILLUSTRATION</span>
                            <span>VIDEO</span>
                        </div>
                        <div class="project-title">
                            Dhobi Run
                        </div>
                    </div>

                    <div class="project">
                        <img src="/assets/images-new/dhobi-run.png" alt="">
                        <div class="project-tags">
                            <span>CONCEPTS</span>
                            <span>3D ILLUSTRATION</span>
                            <span>VIDEO</span>
                        </div>
                        <div class="project-title">
                            Dhobi Run
                        </div>
                    </div>

                    <div class="project">
                        <img src="/assets/images-new/dhobi-run.png" alt="">
                        <div class="project-tags">
                            <span>CONCEPTS</span>
                            <span>3D ILLUSTRATION</span>
                            <span>VIDEO</span>
                        </div>
                        <div class="project-title">
                            Dhobi Run
                        </div>
                    </div>

                    <div class="project">
                        <img src="/assets/images-new/dhobi-run.png" alt="">
                        <div class="project-tags">
                            <span>CONCEPTS</span>
                            <span>3D ILLUSTRATION</span>
                            <span>VIDEO</span>
                        </div>
                        <div class="project-title">
                            Dhobi Run
                        </div>
                    </div>

                    <div class="project">
                        <img src="/assets/images-new/dhobi-run.png" alt="">
                        <div class="project-tags">
                            <span>CONCEPTS</span>
                            <span>3D ILLUSTRATION</span>
                            <span>VIDEO</span>
                        </div>
                        <div class="project-title">
                            Dhobi Run
                        </div>
                    </div> -->
                </div>

                <div class="show-project-btn">
                    See All Projects
                </div>
            </div>


        </section>

        <section class="mission">
            <div class="container">
                <p>
                    connecting ideas to uniquely crafted experiences
                </p>
            </div>
        </section>

        <section class="vision">
            <div class="container">
                <div class="img">
                    <img src="/assets/images-new/astronaut.png" alt="">
                </div>
                <div class="vision-desc">
                    <p>
                        At makearAR, we don’t follow trends for the sake of it. We believe in a different approach - one
                        that’s centered around you, your audience, and the art of creating a memorable, personalized
                        experience.
                    </p>

                    <p>
                        Our commitment goes beyond fleeting trends; it’s about crafting tailor-made digital journeys
                        that
                        resonate uniquely and leave a lasting impact.
                    </p>
                </div>
            </div>
        </section>

        <section class="collaborate">
            <div class="container">
                <div class="svgWrapper">
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>

                </div>

                <div class="collaborate-text-container">
                    <p class="subtitle">
                        is your idea ready to go wild
                    </p>

                    <p class="title">
                        let’s work together
                    </p>

                </div>


                <div class="svgWrapper">
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>
                    <svg class="plus" width="16" height="17" viewBox="0 0 16 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.772 7.584H15.14V9.856H8.772V16.448H6.468V9.856H0.1V7.584H6.468V0.959999H8.772V7.584Z"
                            fill="black" />
                    </svg>

                </div>
            </div>
        </section>

        <section class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-top-contact">
                        <div class="address">
                            <div class="addressContainer">
                                <span> C 14</span>
                                <span>Sector 6</span>
                                <span> Noida 201301</span>
                                <span>Uttar Pradesh India</span>
                            </div>
                        </div>

                        <div class="social-links">
                            <div class="social">
                                <div class="link">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M1.3335 8.00773C1.3335 8.37587 1.63198 8.67433 2.00016 8.67433H12.6507C12.5936 8.7732 12.5228 8.86627 12.4382 8.9508L8.19563 13.1935C7.93523 13.4538 7.93523 13.8759 8.19563 14.1363C8.45596 14.3966 8.8781 14.3966 9.13843 14.1363L14.7953 8.4794C15.0556 8.21907 15.0556 7.79693 14.7953 7.5366L9.1383 1.87965C8.87796 1.6193 8.45583 1.6193 8.1955 1.87965C7.93516 2.14 7.93516 2.56211 8.1955 2.82246L12.4382 7.0652C12.5226 7.1496 12.5933 7.2424 12.6504 7.34107H2.00016C1.63198 7.341 1.3335 7.63953 1.3335 8.00773Z"
                                            fill="black" />
                                    </svg>

                                    <a href="">Instagram</a>
                                </div>

                                <div class="link">

                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M1.3335 8.00773C1.3335 8.37587 1.63198 8.67433 2.00016 8.67433H12.6507C12.5936 8.7732 12.5228 8.86627 12.4382 8.9508L8.19563 13.1935C7.93523 13.4538 7.93523 13.8759 8.19563 14.1363C8.45596 14.3966 8.8781 14.3966 9.13843 14.1363L14.7953 8.4794C15.0556 8.21907 15.0556 7.79693 14.7953 7.5366L9.1383 1.87965C8.87796 1.6193 8.45583 1.6193 8.1955 1.87965C7.93516 2.14 7.93516 2.56211 8.1955 2.82246L12.4382 7.0652C12.5226 7.1496 12.5933 7.2424 12.6504 7.34107H2.00016C1.63198 7.341 1.3335 7.63953 1.3335 8.00773Z"
                                            fill="black" />
                                    </svg>

                                    <a href="">LinkedIn</a>
                                </div>

                            </div>

                            <div class="footer-contact-enquiry">
                                <h3>General enquires</h3>
                                <a class="email" href="mailto:contact@makear.ai">contact@makear.ai</a>
                            </div>

                            <div class="footer-business-enquiry">
                                <h3>New business</h3>
                                <a class="email" href="mailto:business@makear.ai">business@makear.ai</a>
                            </div>
                        </div>

                    </div>
                    <div class="footer-top-newsLetter">
                        <h2>Subscribe to our newsletter</h2>
                        <form action="">
                            <input placeholder="Your email" type="text">
                            <button> <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M1.3335 8.00773C1.3335 8.37587 1.63198 8.67433 2.00016 8.67433H12.6507C12.5936 8.7732 12.5228 8.86627 12.4382 8.9508L8.19563 13.1935C7.93523 13.4538 7.93523 13.8759 8.19563 14.1363C8.45596 14.3966 8.8781 14.3966 9.13843 14.1363L14.7953 8.4794C15.0556 8.21907 15.0556 7.79693 14.7953 7.5366L9.1383 1.87965C8.87796 1.6193 8.45583 1.6193 8.1955 1.87965C7.93516 2.14 7.93516 2.56211 8.1955 2.82246L12.4382 7.0652C12.5226 7.1496 12.5933 7.2424 12.6504 7.34107H2.00016C1.63198 7.341 1.3335 7.63953 1.3335 8.00773Z"
                                        fill="black" />
                                </svg></button>
                        </form>

                    </div>
                </div>
                <div class="footer-bottom">
                    <p>2024 makeAR Creative Tech Studio</p>
                    <p>Build by makeAR with ❤️ </p>
                </div>
            </div>
        </section>




        <%- include('includes/footer-new.ejs') %>