<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="container">
    <div class="video-parent">
        <div class="video-child">
            <video poster="/assets/videos/posters/Affirmations.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Affirmations.mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Ajio (2).jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Ajio.mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Cadbury .jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Cadbury .mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Cheetah (1).jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Cheetah (3).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Colgate AR .jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Colgate AR  (3).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Dhobi Ghat Video.png" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Dhobi Ghat Video (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/golf courseAR - Trim - frame at 0m0s.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/golf courseAR - Trim.mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Hersheys Rakshabhandhan.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Hersheys Rakshabhandhan (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/KITKAT.png" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/KITKAT (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Lakme video.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Lakme video.mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Milkybar Aquarium.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Milkybar Aquarium (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/nangrow.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/nangrow (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Nescafe chill date.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Nescafe chill date (1).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Nescafe Sunrise.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Nescafe Sunrise (2).mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/New york Mural.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/New york Mural.mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Ponds.jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Ponds.mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/Spotless Run .jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/Spotless Run .mp4" controls></video>
        </div>
        <div class="video-child">
            <video poster="/assets/videos/posters/world map Milkybar .jpg" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" src="/assets/videos/our-work/world map Milkybar .mp4" controls></video>
        </div>
    </div>
</div>

<%- include('includes/footer.ejs') %>