<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="video-parent">
    <div class="two-col">
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/Affirmations.jpg" src="/assets/videos/our-work/Affirmations.mp4">
            </video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button>
            </div>
        </div>
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/Ajio (2).jpg" src="/assets/videos/our-work/Ajio.mp4"></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
    </div>
    <div class="row-with-four">
        <div class="video-sidebar">
            <div class="video-child">
                <video class="video-element" poster="/assets/videos/posters/Cadbury .jpg"  src="/assets/videos/our-work/Cadbury .mp4" controls></video>
                <div class="controls invisible">
                    <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                    <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                    <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
                </div>
            </div>
            <div class="video-child">
                <video class="video-element" poster="/assets/videos/posters/Cheetah (1).jpg" src="/assets/videos/our-work/Cheetah (3).mp4" controls></video>
                <div class="controls invisible">
                    <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                    <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                    <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
                </div>
            </div>
            <div class="video-child">
                <video class="video-element" poster="/assets/videos/posters/Colgate AR .jpg" src="/assets/videos/our-work/Colgate AR  (3).mp4" controls></video>
                <div class="controls invisible">
                    <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                    <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                    <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
                </div>
            </div>
        </div>
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/Dhobi Ghat Video.png" src="/assets/videos/our-work/Dhobi Ghat Video (2).mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
    </div>
    <div class="two-col">
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/golf courseAR - Trim - frame at 0m0s.jpg" src="/assets/videos/our-work/golf courseAR - Trim.mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/Hersheys Rakshabhandhan.jpg" src="/assets/videos/our-work/Hersheys Rakshabhandhan (2).mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
    </div>
    <div class="row-with-four">
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/KITKAT.png" src="/assets/videos/our-work/KITKAT (2).mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
        <div class="video-sidebar">
            <div class="video-child">
                <video class="video-element" poster="/assets/videos/posters/Lakme video.jpg" src="/assets/videos/our-work/Lakme video.mp4" controls></video>
                <div class="controls invisible">
                    <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                    <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                    <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
                </div>
            </div>
            <div class="video-child">
                <video class="video-element" poster="/assets/videos/posters/Milkybar Aquarium.jpg" src="/assets/videos/our-work/Milkybar Aquarium (2).mp4" controls></video>
                <div class="controls invisible">
                    <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                    <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                    <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
                </div>
            </div>
            <div class="video-child">
                <video class="video-element" poster="/assets/videos/posters/nangrow.jpg" src="/assets/videos/our-work/nangrow (2).mp4" controls></video>
                <div class="controls invisible">
                    <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                    <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                    <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="two-col">
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/Nescafe chill date.jpg" src="/assets/videos/our-work/Nescafe chill date (1).mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/Nescafe Sunrise.jpg" src="/assets/videos/our-work/Nescafe Sunrise (2).mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
    </div>
    <div class="row-with-four">
    <div class="video-sidebar">
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/New york Mural.jpg" src="/assets/videos/our-work/New york Mural.mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/Ponds.jpg" src="/assets/videos/our-work/Ponds.mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
        <div class="video-child">
            <video class="video-element" poster="/assets/videos/posters/Spotless Run .jpg" src="/assets/videos/our-work/Spotless Run .mp4" controls></video>
            <div class="controls invisible">
                <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
                <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
                <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
            </div>
        </div>
    </div>
    <div class="video-child">
        <video class="video-element" poster="/assets/videos/posters/world map Milkybar .jpg" src="/assets/videos/our-work/world map Milkybar .mp4" controls></video>
        <div class="controls invisible">
            <button><img class="play-button" src="/assets/images/play.svg" alt="play-button"></button>
            <button><img class="pause-button invisible" src="/assets/images/pause.svg" alt="pause-button"></button>
            <!-- <button><img class="fullscreen-button" src="/assets/images/full-screen.svg" alt="full-screen-button"></button> -->
        </div>
    </div>
    </div>
</div>

<script src="js/video-controls.js"></script>
<%- include('includes/footer.ejs') %>