<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
<div class="container">
    <div style="max-width: 720px; margin: 0px auto;">
        <h2 style="margin-bottom: 30px;"><u>Privacy Policy</u></h2>
        <p>At MakeAR, we are committed to ensuring the privacy and security of our users. This Privacy Policy explains how
            we handle information in relation to our virtual reality (VR) game without collecting any personal data.</p>
        <hr>
        <h4>Information We Do Not Collect</h4>
        <p>At MakeAR, we do not collect any personal data from our users. We do not gather information such as names, email
            addresses, phone numbers, or any other personally identifiable information.</p>
        <h4>Non-Personal Information We Collect</h4>
        <p>While using our VR game, we may collect non-personal information that does not directly identify individuals.
            This may include:</p>
        <p>Device Information: We may collect information about the VR device used to access our game, such as device model,
            operating system, and device settings.
        </p>
        <p>Usage Data: We may collect data on how users interact with our game, including gameplay metrics, session
            duration, and in-game actions.
        </p>
        <h4>How We Use Non-Personal Information</h4>
        <p>
            The non-personal information we collect is used solely for the purpose of improving our VR game and enhancing
            the user experience. This information may be used for:
        <ul>
            <li>Analyzing gameplay trends and patterns to optimize game mechanics and performance.</li>
            <li>Debugging and troubleshooting technical issues to ensure smooth gameplay.</li>
            <li>Conducting analytics to understand user behavior and preferences.</li>
        </ul>
        </p>
        <h4>Third-Party Services</h4>
        <p>Our VR game may integrate third-party services, such as analytics tools or advertising platforms. While these
            services may collect non-personal information for their own purposes, they do not collect any personal data on
            our behalf.</p>
        <h4>Data Security</h4>
        <p>We take appropriate measures to safeguard the non-personal information collected through our VR game. This
            includes implementing technical and organizational security measures to prevent unauthorized access, disclosure,
            alteration, or destruction of data.</p>
        <h4>Children's Privacy</h4>
        <p>Our VR game is not intended for children under the age of 13. We do not knowingly collect any personal
            information from children.</p>
        <h4>Updates to Privacy Policy</h4>
        <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements.
            Any updates will be posted on this page, and we encourage users to review this Privacy Policy periodically.</p>
        <h4>Contact Us</h4>
        <p>If you have any questions or concerns about our Privacy Policy or data practices, please contact us at <a
                href="mailto:contact@makear.ai">contact@makear.ai</a>.</p>
    </div>
</div>
<%- include('includes/footer.ejs') %>